<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
</head>
<body>
    {{>navbar}}
    
     <!-- main header -->
    <div class='container-fluid header_menu'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Password Management System</p>
                        <h1>Make Your <span> Password </span> Even More Secure</h1>
                        <a href="/login"><button>login now</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <div class="img ">
                            <img  src="images/bg.png" alt="background" width="400px">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <!-- footer -->

    {{>footer}}
</body>
</html>
